*.o
*.elf
*.bin
*.hex
*.map
.mxproject
*.out

**/build/
**/Backup/*

**/.vscode/*
STM32Make.make
Makefile
**/__pycache__/**
binaries/**

# probably not correct
docs/inverse_formulas_ammo_compression.py
